name: "CI"

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            extra-substituters = https://cache.iog.io
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

      - name: Set up Cachix
        uses: cachix/cachix-action@v15
        with:
          name: iohk
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          skipPush: true

      - name: Check formatting
        run: nix fmt -- --fail-on-change

      - name: Build project
        run: nix build --print-build-logs

      - name: Flake check
        run: nix flake check --print-build-logs
